In [1]:
import pandas as pd

In [2]:
names = ["john", "paul", "george", "ringo"]
instruments = ["vocals", "guitar", "guitar", "drums"]

In [5]:
# Series == Vector == List
beatles_names = pd.Series(names)
beatles_instruments = pd.Series(instruments)

In [6]:
beatles_instruments

0    vocals
1    guitar
2    guitar
3     drums
dtype: object

In [8]:
# Dataframe == Table 
my_table = pd.DataFrame({"Names of each beatle": beatles_names, "Each instrument":beatles_instruments })

In [9]:
my_table

  Names of each beatle Each instrument
0                 john          vocals
1                 paul          guitar
2               george          guitar
3                ringo           drums

In [10]:
my_table_from_lists = pd.DataFrame({"Names of each beatle": names, "Each instrument":instruments })

In [11]:
my_table_from_lists

  Names of each beatle Each instrument
0                 john          vocals
1                 paul          guitar
2               george          guitar
3                ringo           drums

In [2]:
beatles_list_dicts = [{"name":"john", "instrument":"vocals"}, 
                      {"name":"paul", "instrument":"guitar"}, 
                      {"name":"george", "instrument":"guitar"}, 
                      {"name":"ringo", "instrument":"drums"}]

In [3]:
beatles_list_dicts

[{'name': 'john', 'instrument': 'vocals'},
 {'name': 'paul', 'instrument': 'guitar'},
 {'name': 'george', 'instrument': 'guitar'},
 {'name': 'ringo', 'instrument': 'drums'}]

In [13]:
my_table_from_dicts = pd.DataFrame(beatles_list_dicts)

In [14]:
my_table_from_dicts

     name instrument
0    john     vocals
1    paul     guitar
2  george     guitar
3   ringo      drums